/* @import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Charmonman|K2D|Playfair+Display'); */
/*'Playfair Display',serif; 'K2D', sans-serif;'Charmonman',cursive;'Chakra Petch', sans-serif;  */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Anton|Oxygen|PT+Sans|Poppins|Ramabhadra|Roboto+Slab&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=PT+Sans|Poppins|Ramabhadra|Roboto|Roboto+Slab&display=swap'); */
/* 'Roboto', sans-serif; 'Roboto Slab', serif; 'PT Sans', sans-serif; 'Poppins', sans-serif; 'Ramabhadra', sans-serif; */

body{
  margin:0;
  height:auto;
  font-family: 'Courier New', Courier, monospace;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 100%;
  min-width: 100%; */

}

.dwlKqe{
  min-width: 300px !important;
}
.column{
  /* margin-left: -0.75rem !important;
  margin-right: -0.75rem !important;
  margin-top: -0.75rem !important; */
  /* flex-wrap: wrap; */
}

.container ul{
  padding: 0;
  margin:0;
}

#search-bar{
  margin:20px;
  text-align: center;
}


#search-bar input.bar{
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border-right:none !important;
  -moz-border-radius-topright:none;
  -moz-border-radius-bottomright:none;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border: solid 2px #2f4f4f;
  width: 50%;
  padding:10px;
  outline: none;
  font-size: 16px;
}

#search-bar button.btn{
padding: 10px;
font-size: 16px;
border: 2px solid #2f4f4f;
cursor: pointer;
-moz-border-radius-topleft: none;
-moz-border-radius-bottomleft: none;
-webkit-border-top-left-radius:0px;
-webkit-border-bottom-left-radius:0px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;

}

.btn{

  background-color: #c22a90;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  /* -webkit-border-radius: 5px; */
  border-radius: 5px;
  border:0.5px #333 solid;
  padding: 8px 32px;
  box-shadow: 0 0 #2f4f4f;
  margin: 1rem 0;
  color:#fff;
  text-shadow: 2px 2px #2f4f4f;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  transition: background 500ms ease;
}



.btn:hover{
  background-color:#fff;
  color:#c22a90;

}

.btn:hover{
  background-color: #fff;
  color:#c22a90;
  text-shadow: 1px 1px #2f4f4f;
}

.header{
  padding: 2.5rem;
  text-align: center;
  color: #2f4f4f;
  margin:0;
  text-transform: uppercase;
  font-weight:500;
  font-family: 'Oxygen', sans-serif;
  font-size: 3rem;
}

#title{
  color: #cc2a90;
}

.mini-heading{
  color: #2f4f4f;
  font-size: 2rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.content a{
  text-decoration: none;
  color:#2f4f4f;
  transition: color 500ms ease;
}

.content{
  list-style: none;
  text-align: center;
  padding:0;
  margin:0;
}

.content a:hover{
  cursor: pointer;
  color:#c22a90;
}

.center{
  text-align: center;
  margin: 2rem 0;
}

.useFontAwesomeFamily::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: "Font Awesome 5 Brands" !important;
}
.useFontAwesomeFamily:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: "Font Awesome 5 Brands" !important;
}
.useFontAwesomeFamily::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: "Font Awesome 5 Brands" !important;
}
.useFontAwesomeFamily:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "Font Awesome 5 Brands" !important;
}
.useFontAwesomeFamily::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "Font Awesome 5 Brands" !important;
}
.useFontAwesomeFamily::placeholder { /* Most modern browsers */
  font-family: "Font Awesome 5 Brands" !important;
}

/*Screen Sizes 250px and up  */

@media(min-width:250px){
  .btn{
    padding: 0.4rem 0.8rem;
    font-size: 0.75rem;
  }
}



/*Screen Size 500px and up  */
@media(min-width:450px){
  .btn{
    padding:0.5rem 2rem;
    font-size: 1rem;
  }
}

/* Screen Size 750px and up */
@media(min-width:750px){
  .dwlKqe{
    /* max-width: 600px; */
  }
}