/* @import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Charmonman|K2D|Playfair+Display'); */
/*'Playfair Display',serif; 'K2D', sans-serif;'Charmonman',cursive;'Chakra Petch', sans-serif;  */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Anton|Oxygen|PT+Sans|Poppins|Ramabhadra|Roboto+Slab&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=PT+Sans|Poppins|Ramabhadra|Roboto|Roboto+Slab&display=swap'); */
/* 'Roboto', sans-serif; 'Roboto Slab', serif; 'PT Sans', sans-serif; 'Poppins', sans-serif; 'Ramabhadra', sans-serif; */

body{
  margin:0;
  height:auto;
  font-family: 'Courier New', Courier, monospace;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 100%;
  min-width: 100%; */

}

header{
  margin-top:-30px;
  margin-bottom:25px;
}

.dwlKqe{
  /* min-width: 300px !important; */
  width: 100%;
}
.columns{
 /* width: 100%; */
}

.container ul{
  padding: 0;
  margin:0;
}

#search-bar{
  margin:20px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}


#search-bar input.bar{
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border-right:none !important;
  -moz-border-radius-topright:none;
  -moz-border-radius-bottomright:none;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border: solid 2px #2f4f4f;
  width: 70%;
  padding:10px;
  outline: none;
  font-size: 1.625em;
}

#search-bar button.btn{
padding: 10px;
font-size: 1.688em;
border: 2px solid #2f4f4f;
cursor: pointer;
-moz-border-radius-topleft: none;
-moz-border-radius-bottomleft: none;
-webkit-border-top-left-radius:0px;
-webkit-border-bottom-left-radius:0px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
font-family: inherit;

}

.btn{

  background-color: #c22a90;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  /* -webkit-border-radius: 5px; */
  border-radius: 5px;
  border:2px #333 solid;
  padding: 8px 32px;
  box-shadow: 0 0 #2f4f4f;
  margin: 1rem 0;
  color:#fff;
  text-shadow: 2px 2px #2f4f4f;
  text-decoration: none;
  transition: background 500ms ease;
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}



.btn:hover{
  background-color:#fff;
  color:#c22a90;

}

.btn:hover{
  background-color: #fff;
  color:#c22a90;
  text-shadow: 1px 1px #2f4f4f;
}

.header{
  padding: 2.5rem;
  text-align: center;
  color: #2f4f4f;
  margin:0;
  text-transform: uppercase;
  font-weight:800;
  font-family: 'PT Sans', sans-serif;
  font-size: 4.5rem;
  letter-spacing: 10px;
}

#title{
  color: #cc2a90;
}

.mini-heading{
  color: #2f4f4f;
  font-size: 2rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top:-40px;
}

.content a{
  text-decoration: none;
  color:#2f4f4f;
  transition: color 500ms ease;
}

.content{
  list-style: none;
  text-align: center;
  padding:0;
  margin:0;
}

.content a:hover{
  cursor: pointer;
  color:#c22a90;
}

.center{
  text-align: center;
  margin: 2rem 0;
}

.useFontAwesomeFamily::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: "Font Awesome 5 Brands" !important;
}
.useFontAwesomeFamily:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: "Font Awesome 5 Brands" !important;
}
.useFontAwesomeFamily::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: "Font Awesome 5 Brands" !important;
}
.useFontAwesomeFamily:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "Font Awesome 5 Brands" !important;
}
.useFontAwesomeFamily::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "Font Awesome 5 Brands" !important;
}
.useFontAwesomeFamily::placeholder { /* Most modern browsers */
  font-family: "Font Awesome 5 Brands" !important;
}

/*Screen Sizes 319px and up  */

@media(min-width:319px){
  .header{
    font-size: 1.5em;
  }

  .mini-heading{
    font-size:.8em;
  }

  .btn{
    font-size: 12px;
    padding: 9px 10px;
  }

  #search-bar input.bar{
    font-size: 12px
  }

  #search-bar button.btn{
    font-size: 12px;
  }
}

/* Screen Sizes 366px and up */

@media(min-width:366px){
  .header{
    font-size: 2em;
  }

  .mini-heading{
    font-size: .8em;
  }

  .btn{
    font-size: 13px;
    padding: 9px 10px;
  }

  #search-bar input.bar{
    font-size: 14px
  }

  #search-bar button.btn{
    font-size: 14px;
  }
}

/* Screen Sizes 412px and up */

@media(min-width:412px){
  .header{
    font-size: 2.5em;
  }

  .mini-heading{
    font-size: 1em;
  }

  .btn{
    font-size: 14px;
    padding: 9px 10px;
  }

  #search-bar input.bar{
    font-size: 15px
  }

  #search-bar button.btn{
    font-size: 15px;
  }
}


/*Screen Size 459px and up  */
@media(min-width:459px){
  .header{
    font-size: 3em;
  }

  .mini-heading{
    font-size: 1.1em;
  }

  .btn{
    font-size: 15px;
    padding: 9px 10px;
  }

  #search-bar input.bar{
    font-size: 16px
  }

  #search-bar button.btn{
    font-size: 16px;
  }
}

/* Screen Size 505px and up */
@media(min-width:505px){
  .header{
    font-size: 3.5em;
  }

  .mini-heading{
    font-size: 1.2em;
  }

  /* .btn{
    font-size: 12px;
    padding: 9px 10px;
  }

  #search-bar input.bar{
    font-size: 12px
  }

  #search-bar button.btn{
    font-size: 12px;
  } */
}
/* Screen Size 551px and up */
@media(min-width:551px){
  .header{
    font-size: 4em;
  }

  .mini-heading{
    font-size: 1.5em;
  }

  .btn{
    font-size: 16px;
    padding: 9px 10px;
  }

  #search-bar input.bar{
    font-size: 18px
  }

  #search-bar button.btn{
    font-size: 18px;
  }
}
/* Screen Size 598px and up */
@media(min-width:598px){
  .header{
    font-size: 4.5em;
  }

  .mini-heading{
    font-size: 2em;
  }

  .btn{
    font-size: 17px;
    padding: 9px 10px;
  }

  #search-bar input.bar{
    font-size: 19px
  }

  #search-bar button.btn{
    font-size: 20px;
  }
}

/* Screen Size 769px and up */
@media(min-width:769px){
  .columns{
    width:100%;
  }

  #search-bar input.bar{
    width:50%;
    font-size: 22px;
  }

  #search-bar button.btn{
    font-size: 23px;
  }

  .btn{
    font-size: 20px;
  }
}